<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My News Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="site-logo">
<h1>
    <img src="{{ s3('images/birdsong_title.png') }}" alt="My News Hub">
</h1>
</div>

<h2>
博物館、美術館の特別展の企画情報だったり、アニメのインタビュー記事だったり、学術系のニュースだったり、管理人が気になる情報を収集して纏めているサイトです。ついでに面白かった本のレビューなども載せてます。趣味の合う人が気に入ってくれるサイトになるように日々改修中です。
</h2>

<div class = "columns"> 
    <div class="column rss-column">
    <h2>新着ニュース</h2>
    <h3>特別展の情報やアニメ作品のインタビュー記事を集めてます。</h3>
    <div class="colum-block">
    <h3 class="news-site-title">特別展・企画展情報</h3>

    <p class="colum-block-description">
        博物館・美術館・研究機関による企画展・特別展の情報
    </p>

    <ul class="news-list">
        {% for article in academic_news %}
        <li>
            <a href="{{ article.link }}" target="_blank" rel="noopener">
                {{ article.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>

    <div class="colum-block">
    <h3 class="news-site-title">サブカル系インタビュー記事</h3>
    <p class="colum-block-description">
        アニメ・ゲームなどのインタビュー記事を集めてます
    </p>

    <ul class="news-list">
        {% for article in subculture_news %}
        <li>
            <a href="{{ article.link }}" target="_blank" rel="noopener">
                {{ article.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>
</div>

    
    <div class="column rss-column">
        <h2>おすすめ学術系サイト</h2>
        <h3>学術系情報が纏められているサイトを集めてます。</h3>

        {% for site in rss %}
        <div class="colum-block">
            <h3 class="colum-block-title">{{ site.site_name }}</h3>
            <p class="colum-block-description">{{ site.description }}</p>

            <ul class="news-list">
                {% for article in site.articles[:3] %}
                <li>
                    <a href="{{ article.link }}" target="_blank" rel="noopener">
                        {{ article.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>

            {% if site.articles|length > 3 %}
            <details class="rss-more">
                <summary>他 {{ site.articles|length - 3 }} 件を見る</summary>
                <ul class="news-list">
                    {% for article in site.articles[3:] %}
                    <li>
                        <a href="{{ article.link }}" target="_blank" rel="noopener">
                            {{ article.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </details>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="column rss-column">
    <h2>ブログ記事</h2>
    <h3>管理人が読んだ本のレビューなどを載せてます。</h3>

        <div class="colum-block">
            <ul class="news-list blog-list">
            {% for p in blog[:5] %}
                <li class="blog-item">
                    {% if p.thumbnail %}
                    <a href="/post/{{ p.id }}">
                        <img src="{{ p.thumbnail }}" class="blog-thumb-large">
                    </a>
                    {% endif %}
                    <a href="/post/{{ p.id }}" class="blog-title">
                    {{ p.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

</body>
</html>
